version: 2
updates:

- package-ecosystem: bundler
  directory: "/docs"
  schedule:
    interval: weekly

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
