.bundle
.DS_store
.jekyll-cache
.jekyll-metadata
.sass-cache
node_modules
/www/vendor/bundle
_site

# Ignore the following files markdownlint that are already tracked by git (thus
# uanffected by gitignore).
/LICENSE.md

# Local Netlify folder
.netlify
