.bundle
.DS_store
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
node_modules
/docs/vendor/bundle

# Ignore the following files markdownlint that are already tracked by git (thus
# uanffected by gitignore).
/LICENSE.md

# Local Netlify folder
.netlify
