//
// GLOBALS
//

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

//
// LAYOUT
//

// Blocks of content
.content-block {
    padding: 20px 0;
}

// Reponsive 2 column layout block
.col-2 {
    margin: 10px 0;
    display: grid;
    gap: $spacer-xxl;
    grid-template-columns: 1fr 1fr;

    @include media-query($on-palm) {
        grid-template-columns: 1fr;
        gap: $spacer-xxl;
    }
}

.nogap {
    @include media-query($on-palm) {
        gap: 0;
    }
}

// Section with wide background + color
.breakout {
    position: relative;
    background: $breakout-bg-color;
    margin: $spacer-xl 0;
    padding: 80px 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.wrapper {
    max-width: $content-width;
    padding: 0 40px;
    margin: 0 auto;

    @include media-query($on-mobile) {
        padding: 0 20px;
    }
}

.max-width {
    align-items: center;
}

// 4 column levels
.level-icons {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacer-l;

    @include media-query($on-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-query($on-mobile) {
        grid-template-columns: 1fr;
    }

    .level {
        background: white;
        border-radius: $radius;
        border: 4px solid $grey-color-light;
        padding: $spacer-l;

        .level-badge {
            max-width: 50px;
        }
    }
}

//
// STYLING
//

// Type size ramp
h1 {
    font-weight: $title-font-weight;
    padding-top: $title-padding-top;
    padding-bottom: $title-padding-bottom;

    font-size: $title-font-size;
    letter-spacing: $title-letter-spacing;
    line-height: 1.2;

    @include media-query($on-mobile) {
        font-size: $title-font-size-mobile;
    }

    @include media-query($on-mobile-old) {
        font-size: $title-font-size-mobile-old;
    }
}

h2 {
    font-size: $header2-font-size;
    line-height: 1.15;
    padding: 20px 0 10px 0;
}

h3 {
    font-size: $header3-font-size;
    line-height: 1.3;
    padding: 10px 0 5px 0;
}

h4 {
    line-height: 1.3;
    font-weight: 700;
}

.subtitle {
    display: block;
    padding-bottom: $spacer-l;
    font-size: $subtitle-font-size;

    // For making subtitles hug closely above headers
    &.flushed {
        padding-bottom: 0;
        margin-bottom: -$spacer-l;
    }
}

.diagram-wrapper {
    .diagram {
        border: 1px solid $grey-color-border;
        padding: $spacer-xl;
        border-radius: $radius;

        // strange bottom margin hack
        p {
            margin: 0;
        }

        @include media-query($on-mobile) {
            padding: $spacer-m;
        }
    }

    .annotation {
        color: $grey-color;
    }
}

// Spacing elements
.m-b-0 {
    margin: 0px;
}

.m-b-l {
    margin-bottom: $spacer-xl;
}

.m-b-xl {
    margin-bottom: 100px;
}

.m-t-s {
    margin-top: $spacer-m;
}

.m-t-m {
    margin-top: $spacer-l;
}

.m-t-l {
    margin-top: $spacer-xl;
}

.m-t-xl {
    margin-top: $spacer-xxl;
}

// Link styles for the 'button' look

.pseudo-button {
    box-sizing: border-box;
    text-decoration: none;

    > p > a {
        display: inline-block;
        color: $text-color-light;
        font-size: $base-font-size;
        background: #000;
        border-radius: $radius;
        padding: 12px 18px;

        &:hover {
            text-decoration: none;
            background: $brand-color;
        }
    }
}

.buttons-horizontal {
    display: flex;
    gap: $spacer-l;

    @include media-query($on-mobile) {
        display: block;
    }
}

table.link-tree {
    max-width: 500px;
    border: none;

    tr {
        background-color: transparent;
    }
    td {
        background-color: transparent;
        border: 1px solid #c9c9c9;
        padding: 4px 8px;
    }
    th {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $grey-color;
        font-weight: normal;
    }
    a {
        display: block;
    }
    p {
        margin: 0;
        padding: 0;
    }

    // Style variations for use-cases page
    &.use-cases {
        border-collapse: separate;
        border-spacing: 0 $spacer-l;
        max-width: 80%;

        td {
            padding: $spacer-l;
        }
    }
}
