//
// GLOBALS
//

// Alpine js

[x-cloak] { display: none; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

//
// LAYOUT
//


// Colour

.text{
    &-green{
        color: $light-green;
    }
    &-green-darkest{
        color: $green-darkest;
    }
    &-green-button {
        color: $button-green;
    }
    &-green-dark {
        color: $dark-green;
    }
    &-green-darker {
        color: $button-green;
    }
}
.bg{
    &-light-green{
        background-color: $light-green;
    }
    &-light-pastel-green {
        background-color: #B4F3C9;
    }
    &-pastel-green{
        background-color: $pastel-green;
    }
    &-green-dark{
        background-color: $dark-green;
    }
    &-green-darkest{
        background-color: $green-darkest;
    }
    &-button-green {
        background-color: $button-green;
    }
    &-green-transparent {
        &::before{
            content:'';
            position: absolute;
            left:0;
            right:0;
            height: 100%;
            width: 100%;
            background-color: $dark-green;
        }
    }
}

.co-logo {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.border {
    &-green {
        border-color: $button-green;
    }
}
// Blocks of content
.content-block {
    padding: 20px 0;
}

.table-of-contents {
    min-height: 300px;
    ul{
        margin-top: 5px;
        // Opacity on hover effect
        &:hover > li {
            transition: 150ms all ease;
            opacity: 0.3;
        }
    }

    ul li {
        margin-bottom: 2px;
        font-family: 'Prodigy';
    }
    // Focus on hover effect
    ul li:hover {
        opacity: 1;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
    }

    ul {
        li {
            ul {
                padding-left: 20px;
            }
        }
    }
}

// Reponsive 2 column layout block
.col-2 {
    margin: 10px 0;
    display: grid;
    gap: $spacer-xxl;
    grid-template-columns: 1fr 1fr;

    @include media-query($on-palm) {
        grid-template-columns: 1fr;
        gap: $spacer-xxl;
    }
}

.nogap {
    @include media-query($on-palm) {
        gap: 0;
    }
}

// Section with wide background + color
.breakout {
    position: relative;
    background: $breakout-bg-color;
    margin: $spacer-xl 0;
    padding: 80px 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.wrapper {
    max-width: $content-width;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;

    &.inner, .inner{
        padding-left: 70px;
        padding-right: 70px;

        @include media-query($on-mobile) {
            padding: 0 40px;
        }
    }

}

.main-content {
    ul:not(.custom-list) {
        list-style: disc;
        padding-left: 25px;

        & > li {
            margin-top: 10px;
        }
    }

    blockquote {
        margin: 30px 0;

        & > p {
            margin:12px 0;
        }
    }
}

.max-width {
    align-items: center;
    flex-grow: 1;
}

//
// STYLING
//

h1,.h1, h2,.h2, h5,.h5 {
    font-family: $header-font-family;
    font-weight: normal;
}

// Type size ramp
h1, .h1 {
    font-weight: $title-font-weight;
    font-size: $title-font-size;
    letter-spacing: $title-letter-spacing;
    line-height: 1;
    font-family: $header-font-family;

    @include media-query($on-mobile) {
        font-size: $title-font-size-mobile;
    }

    @include media-query($on-mobile-old) {
        font-size: $title-font-size-mobile-old;
    }
}

h2, .h2 {
    font-size: $header2-font-size;
    line-height: 1;
    letter-spacing: -0.01em;
}

h3, .h3 {
    font-size: $header3-font-size;
    line-height: 1.3;
    letter-spacing: 0;
    font-family: $header-font-family-medium;
    font-weight: 500;
}

h4, .h4 {
    line-height: 1.3;
    font-size: $header4-font-size;
    letter-spacing: 0;
    font-family: $header-font-family-semibold;
    font-weight: 600;
}

h5, .h5 {
    line-height: 1;
    font-size: $header5-font-size;
}

.header-small {
    font-size: $base-small-size;
    font-family: $header-font-family;
}

.subtitle {
    display: block;
    padding-bottom: $spacer-l;
    font-size: $subtitle-font-size;

    // For making subtitles hug closely above headers
    &.flushed {
        padding-bottom: 0;
        margin-bottom: -$spacer-l;
    }
}

.markdown {
    h2 {
        color: $green-darkest;
        margin-bottom: 32px;
        margin-top: 60px;
    }
    h3, h4 {
        margin-bottom: 30px;
        color: $green-darkest;
    }
    p{
        margin-bottom: 30px;
        color: $green-darkest;
    }
    ul {
        list-style: disc;
        padding-left: 25px;
        margin-bottom: 30px;

        & > li {
            margin-bottom: 10px;
        }
    }
    table {
        margin-bottom: 28px;
        width: 100%;
        text-align: left;
        color: $green-darkest;
        border-collapse: collapse;
        border: 1px solid #CECECE;
        border-radius: 20px;
        th {
            background-color: #F7FAF9;
        }
    }
    blockquote {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px;

        /* Green - Lightest */
        border: none;
        background: #F7FAF9;
        border-radius: $radius;
        margin-bottom: 30px;
        letter-spacing: normal;
        font-style: normal;
        & > p{
            margin:0;
            color: #155757;
        }
    }
    a {
        color: $green-darkest;
        text-decoration:underline;
        font-weight: normal;
    }
}

details {
    // Simulate a 1px border with same behavior as "border-collapse: collapse".
    border: 1px solid $grey-color-light;
    border-radius: $radius;
    display: block;
    padding: ($spacer-xl / 3) ($spacer-xl / 2);
    margin-bottom: 1rem;
    &[open] > summary {
      margin-bottom: $spacer-l;
    }
    summary {
        list-style: none;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        cursor: pointer;
        font-weight: 600;
        color: $green-darkest;
    }
    summary::-webkit-details-marker {
        display: none;
    }

    summary::after {
        content: ' ►';
        position: absolute;
        top: 0;
        left: 0;
        color: $green-darkest;
    }
    &[open] > summary:after {
        content: " ▼";
    }
    > summary > span {
      margin-left: 30px;
    }

    &:last-child {
        margin-bottom: 40px;
    }
}


// Spacing elements
.m-b-0 {
    margin: 0px;
}

.m-b-l {
    margin-bottom: $spacer-xl;
}

.m-b-xl {
    margin-bottom: 100px;
}

.m-t-s {
    margin-top: $spacer-m;
}

.m-t-m {
    margin-top: $spacer-l;
}

.m-t-l {
    margin-top: $spacer-xl;
}

.m-t-xl {
    margin-top: $spacer-xxl;
}

// Link styles for the 'button' look

.button-mono {
    font-family: $base-button-font;
    font-size: 16px;
    line-height: 1;
}

.cta-link {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    padding-left: 25px;
    color: #155757;
    font-family: $header-font-family-semibold;
    font-weight: 600;

    &::before {
        content:'';
        transition: all .25s ease-in-out;
        will-change: transform;
        position: absolute;
        left:0;
        top:auto;
        height: 14px;
        width: 14px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 13px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.697085 14.1509C-0.232361 9.52348 -0.232362 4.77828 0.697083 0.150878C5.54439 1.72628 10.0667 4.10277 14 7.15088C10.0667 10.199 5.54439 12.5755 0.697085 14.1509Z' fill='%2340DB88'/%3E%3C/svg%3E%0A");
    }

    &:hover {
        text-decoration: none;
        &::before {
            transform: translateX(3px);
        }
    }

    &.white {
        color: white;
    }

    &.center {
        justify-content: center;
        display: inline-block;
        &::before {
            content:'';
            position: absolute;
            left: 0;
            right: auto;
        }

    }
}

.select-dropdown {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L11.1962 0.25H0.803847L6 7Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 15%;
  background-color: transparent;
  // disable default appearance
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand { display: none };
  cursor: pointer;

  position: relative;
  min-width: 100%;
  outline: none;
  font-family: "Prodigy";
  line-height: 1;
}
