/**
 * Site header
 */
.site-header {
    @include media-query($on-tablet) {
        min-height: $spacer-xl * 2;
    }
    @include media-query($on-palm) {
        min-height: $spacer-xl;
    }
    transition: all .25s ease-in-out;
    will-change: transform;

    // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;

    &.is-specification-markdown {
        & .site-nav ul li a{
            color: $text-color;
        }

        & svg path {
            fill: $text-color;

            @include media-query($on-tablet) {
                 fill: white;
            }
        }
    }

    & .logo-white {
        visibility: hidden;
        opacity:0;
        transition: all .25s ease-in-out;
        height: 0;
        width: 0;
    }

    & .logo-green {
        visibility: visible;
        opacity:1;
        transition: all .25s ease-in-out;
        width: 100px;
    }

    &.fixed {
        transform: translateY(-100%);
        background-color: #155757;
        position: fixed;
    }

    &.sticky {
        transform: translateY(0%);
        background-color: #155757;
        position: fixed;

        & .logo-white {
            visibility: visible;
            opacity:1;
            transition: all .25s ease-in-out;
        }

        & .logo-green {
            visibility: hidden;
            opacity:0;
            transition: all .25s ease-in-out;
            height: 0;
            width: 0;
        }

        .mobile-menu-button {
            & span {
                background-color: white;
            }
        }

        &.is-specification-markdown {
            & .site-nav ul li a{
                color: white;
            }

            & .site-nav ul li ul li a{
                color: $text-color;

                &:hover {

                    &:after {
                        background-color: $text-color;
                    }
                }

                &.active {
                    &:after {
                        background-color: $text-color;
                    }
                }
            }

            & svg path {
                fill: white;
            }
        }

    }

    &.static {
        transform: translateY(0%);
        background-color: transparent;
        transition: all .25s ease-in-out;

        & .logo-white {
            visibility: hidden;
            opacity:0;
            transition: all .25s ease-in-out;
        }

        & .logo-green {
            visibility: visible;
            opacity:1;
            transition: all .25s ease-in-out;
        }

        &.is-specification-markdown {
            & .site-nav ul li a {
                color: $text-color;

                @include media-query($on-tablet) {
                    color: white;
                }

                &:hover {

                    &:after {
                        background-color: $text-color;
                    }
                }

                &.active {
                    &:after {
                        background-color: $text-color;
                    }
                    @include media-query($on-tablet) {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            & .site-nav ul li > ul li a {
                color: $text-color;

                &:hover {

                    &:after {
                        background-color: $text-color;
                    }
                }

                &.active {
                    &:after {
                        background-color: $text-color;
                    }
                }
            }
        }
    }
}

.logo {
    width: 100px;
    z-index: 10;
}

.mobile-menu-button {
    background: none;
    border: 0px;
    width: 22px;
    height: 16px;
    position: relative;
    z-index: 25;
    padding: 0px;
    outline: none;
    user-select: none;
    & span {
        display: block;
        background-color: #102B2D;
        width: 100%;
        height: 2px;
        margin-bottom: 5px;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) 0s, background-color 0s cubic-bezier(0.77, 0.2, 0.05, 1) 0s, opacity 0.55s ease 0s;
    }

    &.active span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 1px);
        background-color: white;
    }

    &.active span:nth-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
        background-color: white;
    }
    &.active span:last-child {
        transform: rotate(-45deg) translate(1px, -4px);
    }
}

.site-title {
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;
    font-family: $logo-font-family;
    color: $text-color;
    letter-spacing: 0.06em;
    padding: $spacer-l 0 $spacer-m 0;
    margin-right: $spacer-xl * 1.2;
    border-bottom: 3px solid #000;

    &,
    &:visited {
        color: $text-color;
        // color: $grey-color-dark;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-nav {
    padding: $spacer-l 0 $spacer-l 0;
    z-index: 1;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    ul li {
        a{
            color: $text-color-light;
            font-weight: 400;
            line-height: $base-line-height;
            position: relative;
            font-family: "Prodigy";
            width: 100%;

            &:hover {
                text-decoration: none;

                &:after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    bottom:0px;
                }
            }

            &.active {
                &:after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    bottom:0px;
                }
            }
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        ul li:not(:last-child) {
            margin-right: 0px;
        }

        & ul {
            li {
                margin:0;
                a{
                    color: $text-color;
                    font-weight: 400;
                    line-height: $base-line-height;
                    font-family: "Prodigy";
                    display: block;

                    &:hover {
                        text-decoration: none;

                        &:after {
                            content: '';
                            width: auto;
                            height: 1px;
                            background-color: white;
                            position: absolute;
                            bottom:0px;
                        }
                    }
                }
            }
        }
    }

    .dropdown ul{
        min-width: 115px;
    }

    @include media-query($on-tablet) {
        display: none;
    }
}

.site-nav-mobile {
    display: none;
    @include media-query($on-tablet) {
        width: 100%;
        position: absolute;
        top: -100vh;
        left: 0;
        transition: all cubic-bezier(0.77, 0.2, 0.05, 1) 0.3s;
        background-color: #102B2D;
        z-index: 1;
        display: block;

        &.active {
            top: 0;
            transition: all cubic-bezier(0.77, 0.2, 0.05, 1) 0.3s;
        }

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 10px 0;
            font-family: "Prodigy";
            color: white;
            font-weight: normal;
        }

        .dropdown ul {
            padding-left: 15px;
        }

        .dropdown ul li a {
            display: block;
            padding: 9px 0;
            font-family: "Prodigy";
            color: white;
            font-weight: normal;

        }
    }

}

/**
 * Site footer
 */
.site-footer {
    padding: $spacer-l*2 0;
    color: white;
    background-color: $green-darkest;
    font-size: 12px;

    ul li{
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    a {
        color: white;
        text-decoration: underline;
    }
}

.footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacer-xl / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacer-xl;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacer-xl;
}

.post-title {
    // @include relative-font-size(2.625);
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    // letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        // @include relative-font-size(2.25);
    }
}

.post-content {
    margin-bottom: $spacer-xl;
}

.markdown .post-author {
    margin-top: $spacer-xl;
    margin-bottom: $spacer-m;
}

.markdown .post-date {
    color: $grey-color;
}

.markdown .guest-post-banner {
    margin-left: $spacer-xxl;
    margin-right: $spacer-xxl;
    font-style: italic;
    font-size: $small-font-size;
    color: $grey-color;
}


// hero styling

.hero{
    position: relative;
    padding: 80px 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-color: $dark-green;
    height: 85vh;
    z-index: 10;

    &.home{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.specifications, &.post-list {
        background-color: $light-green;
        height: auto;
    }

    &.markdown-page, &.post {
        background-color: white;
        height: auto;
        padding-bottom: 0;
    }
}

.section {
    position: relative;
    padding: 100px 0 100px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: auto;

    @include media-query($on-mobile) {
        padding: 40px 0 40px;
    }

    &.intro {
        padding: 160px 0 160px;
    }

    &.cta_banner {
        padding:0;
        a {
            padding: 30px 0 30px;
            display: inline-block;

            &:hover{
                text-decoration: none;
            }
        }
    }
}
