---
title: Build Verification
description: The software supply chain is divided into different types of activities that are needed to produce software artifacts: build, build environment, dependency, and source. This page covers the build verificatiion of the build track portion of the supply chain.
---

This page covers the build verificatiion of the build track portion of the supply chain.

Other pages in this section cover the following topics directly related to the build track:

<!-- Kill the reference to the current file. -->

1. [Build: Track Basics](build-track-basics.md)
2. [Build: Requirements](build-requirements.md)
3. [Build: Provenence](build-provenance.md)
4. [Build: Attestation formats](build-attestation.md)

The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD",
"SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be
interpreted as described in [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119).

### Build Verification Overview

**Note:** This page is a placeholder for Build verification information.





