---
title: Build Environment track verification
description: This page covers the SLSA Build Environment track verification
---

# {Build Environment Track: Verification}

**About this page:** the *Build Environment Track: Verification* page defines the build track environment verification.

**Intended audience:** {add appropriate audience}

**Topics covered:** provenance

**Internet standards:** [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119), {other standards as required}

>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD",
"SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be
interpreted as described in [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119).

**For more information, see:** {optional} 

Note to contributors: This page needs to explain in detail the recommendations for how to verify artifacts and their SLSA provenance by human inspection. When appropriate, follow the outline of the Build Track Verification page. Also, fill in the above header information on About this page, intended audience, topics covered, Internet standards, and For more information.

## Overview of Build Environment track verification



