---
title: Build Environment Track: Verification
description: This page covers the SLSA Build Environment Track: Verification
---

# {Build Environment Track: Verification}

**About this page:** the *Build Environment Track: Verification* page lists the recommendations on how human inspectors should verify artifacts and their SLSA Provenance.

**Intended audience:** {add appropriate audience}

**Topics covered:** Topics covered: {expand topic list when contributors add content}

**Internet standards:** [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119), {other standards as required}

>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD",
"SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be
interpreted as described in [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119).

**For more information, see:** {optional} 

## Overview of Build Environment track verification

This information will be supplied when development is completed.

