---
title: SLSA Build Track verification recommendations
description: This page covers the verfication recommendations for the SLSA the Build Track specification.
---

This page covers the verfication recommendations for the SLSA the Build Track specification.

## Build Track: verification recommendations


