---
title: Dependency track verification
description: This page covers the SLSA Dependency track verificatation
---

# {Dependency Track: Verification}

**About this page:** the *Dependency Track: Verification* page lists recommendations on how human inspectors should verify artifacts and their SLSA provenance.

**Intended audience:** {add appropriate audience}

**Topics covered:** {expand topic list when contributors add content}

**Internet standards:** [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119), {other standards as required}

>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD",
"SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be
interpreted as described in [RFC 2119](https://www.rfc-editor.org/rfc/rfc2119).

**For more information, see:** {optional} 

## Overview of Dependency track verification

This information will be supplied when development is completed.