---
title: Blog
description: Recent blog posts from the SLSA community.
layout: post-list
---
<ul style="list-style: none;">
  {% for post in site.posts %}
    <li class="mb-8">
      <h2 class="h2 mb-6"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p><b>{% if post.is_guest_post -%}Guest post{%- endif %} by {{ post.author }} on {{ post.date | date_to_string }}</b></p>
      {% if post.subtitle %}
        {{ post.subtitle }}
      {% endif %}
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
