@charset "utf-8";

// Define defaults for each variable.

// colours

$text-color: #2a343e !default;
$text-color-light: #ffffff !default;
$background-color: #ffffff !default;
$brand-color: #0079c4 !default;
$link-color-light: lighten($brand-color, 35%) !default;
$breakout-bg-color: #f5f5f1 !default;

$grey-medium: #828282 !default;
$grey-light: lighten($grey-medium, 40%) !default;
$grey-dark: darken($grey-medium, 25%) !default;
$grey-border: #dedede;

$green-dark: #155757;
$green-light: #58DA95;
$green-lighter: #B4F3C9;
$green-darkest: #102B2D;
$green-pastel: #ECF8F2;
$green-button: #23907E;
$green-lightest: #F7FAF9;

$code-default: #e8e8e8;

// font variables

$base-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-button-font: "IBM Plex Mono", monospace !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.9 !default;

$base-line-height: 1.7 !default;

$base-small-size: 12px !default;
$header-font-family: "Prodigy" !default;
$header-font-family-medium: "Prodigy medium" !default;
$header-font-family-semibold: "Prodigy semibold" !default;
$header2-font-size: 40px !default;
$header3-font-size: 24px !default;
$header4-font-size: 20px !default;
$header5-font-size: 16px !default;
$header-font-weight: 700 !default;

$title-font-size: 76px !default;
$title-font-weight: 400 !default;
$title-letter-spacing: -0.01em !default;
$title-padding-top: 50px !default;
$title-padding-bottom: 10px !default;

$title-font-size-mobile: 48px !default;
$title-padding-top-mobile: 40px !default;

$title-font-size-mobile-old: 32px !default;
$title-font-size-mobile-old: 32px !default;

$subtitle-font-size: 18px !default;

$logo-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$logo-font-size: 17px !default;
$logo-font-weight: 700 !default;
$radius: 10px;

// spacers

$spacer-s: 4px;
$spacer-m: 8px;
$spacer-l: 20px;
$spacer-xl: 28px !default;
$spacer-xxl: 40px;

// navigation
$nav-padding: 20px;
$header-height: 68px;

// other
$table-text-align: left !default;

// Width of the content area
$content-width: 1280px !default;

$on-mobile-old: 320px !default;
$on-mobile: 440px !default;
$on-palm: 600px !default;
$on-tablet: 1024px !default;
$on-laptop: 1280px !default;
$media-menu: 870px !default;

@mixin media-query($device) {
    @media screen and (max-width: ($device - .1)) {
        @content;
    }
}

@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting", "minima/custom";
@import "dl-as-table";
