<article class="p-6 flex flex-col items-start justify-between h-auto md:h-64">
    <div class="w-full mb-8">
        <p class="font-bold h3">
            &ldquo;{{testimonial[forloop.index].quote}}&rdquo;
        </p>
    </div>
    <div class="flex flex-wrap items-center justify-between w-full mt-auto">
        <div class="w-full md:w-3/4 pr-6 mb-6 md:mb-0">
            <p class="font-semibold h4 mb-0.5">{{testimonial[forloop.index].name}}</p>
            <p class="font-regular">{{testimonial[forloop.index].role}}</p>
        </div>
        <div class="w-full md:w-1/4 flex justify-end">
            <div class="bg-white p-2 rounded-xl h-16 w-16 flex items-center">
                <img class="w-auto mx-auto" src="{{ site.baseurl }}{{testimonial[forloop.index].logo}}" alt"Testimonial Logo" />
            </div>
        </div>
    </div>
</article>