title: SLSA
description: Supply-chain Levels for Software Artifacts
copyright_html: Copyright 2021 The Linux Foundation<br>under the terms of the <a href="https://github.com/slsa-framework/slsa/blob/main/LICENSE">Apache License 2.0</a>
repository: slsa-framework/slsa
header_pages:
  - index.md
  - specifications.md
  - provenance/v0.2.md # WARNING: This is brittle and will not update as per {{ site.current_provenance_version }}
  - use-cases.md
  - get-started.md
  - community.md
collections:
  spec:
    layout: specifications
    sort_by: order
    output: true
exclude:
  - README.md
google_analytics: G-VNK063J3QF
theme: minima
permalink: :path/:basename
markdown: CommonMarkGhPages
commonmark:
  options: ["SMART", "FOOTNOTES"]
  extensions: ["autolink", "strikethrough", "table", "tagfilter"]
titles_from_headings:
  strip_title: true
plugins:
  - jekyll-commonmark-ghpages
  - jekyll-sitemap
  - jekyll-seo-tag
  # Mandatory GitHub Pages plugins:
  - jekyll-coffeescript
  - jekyll-default-layout
  - jekyll-gist
  - jekyll-github-metadata
  - jekyll-optional-front-matter
  - jekyll-paginate
  - jekyll-readme-index
  - jekyll-titles-from-headings
  - jekyll-relative-links
spec_versions: ['v0.1']
current_spec_version: "v0.1"
provenance_versions: ['v0.1', "v0.2"]
current_provenance_version: "v0.2"
relative_links:
  collections: true
defaults:
  - scope:
      path: "assets/images"
    values:
      image: true
  - scope:
      path: "_spec"
    values:
      folder: true
